<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ indexName }} InstaSearch{% endblock %}</title>

    {% block stylesheets %}
        {# Load bundle CSS first #}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/survosmeili/style.css') }}">
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
